<html>
	<body>
		<div th:fragment="header">
		    <meta charset="UTF-8">
		    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		    <meta http-equiv="X-UA-Compatible" content="ie=edge">

		    <!-- using webjars-locator-core in pom.xml,dispensa especificar a versão -->
		    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css">
		    <link rel="stylesheet" href="/webjars/bootstrap-select/bootstrap-select.min.css">
		    <link rel="stylesheet" href="/webjars/font-awesome/css/all.css">
		    <link rel="stylesheet" href="/css/custom/main.css">
		    <!--  put in each page
		    	<title>Recatalog</title>
		    -->
	 	<style>
			.re-breadcrumb .breadcrumb-item+.breadcrumb-item::before {
			  content: ">";
			}
		</style>
		</div>
		
		<div th:fragment="topMenu">
		    <nav class="navbar navbar-expand-md demo-bg-color p-0" id="nav-top" >
		        <div class="container-fluid">
		            <a class="navbar-brand" href="/recatalog"><i class="fas fa-book-reader"></i> RE<scan>&#183;</scan>CATALOG</a>
		                <ul class="navbar-nav mr-auto">
		                    <li sec:authorize="isAuthenticated()" class="nav-item">
		                        <a class="nav-link " href="/recatalog/catalog.html">Catálogo</a>
		                    </li>
		                    <li sec:authorize="isAuthenticated()" class="nav-item">
		                        <a class="nav-link " href="/recatalog/project.html">Projeto</a>
		                    </li> 
           <!-- Common built-in expressions
           https://docs.spring.io/spring-security/site/docs/3.0.x/reference/el-access.html
            -->
		                    <li sec:authorize="isAuthenticated()" class="nav-item">
		                        <a class="nav-link " href="#">Configuração</a>
		                    </li>
		                    <li sec:authorize="isAuthenticated()" class="nav-item">
		                        <a class="nav-link " href="#">Código</a>
		                    </li> 
		                </ul>
		                <!-- ul class="navbar-nav ml-auto">
		                	<li class="nav-item">
		                        <a class="nav-link " href="#">Tutorial</a>
		                    </li>
		                    <li class="nav-item">
		                        <a class="nav-link " href="#">Controle de Acesso</a>
		                    </li> 
		                    -->
  		                <ul class="navbar-nav ml-auto">
		                    <li sec:authorize="isAnonymous()" class="nav-item">
		                        <a class="nav-link clickable" href="#re-modal-login" data-toggle="modal"><i class="fas fa-sign-in-alt"></i> Login</a>
		                        <!-- or button
		                        <button class="btn btn-link" data-target="#loginModal" data-toggle="modal"><i class="fas fa-sign-out-alt"></i> Entrar</a>
		                        -->
		                    </li>
		                    <li sec:authorize="isAuthenticated()" class="nav-item">
		                        <a class="nav-link " href="#"><i class="fas fa-user"></i>
		                        <span th:text="${#authentication.getPrincipal().getUsername()}"></span></a>
		                    </li>
		                    <li class="nav-item">
                <!-- 
                	ref.: https://www.youtube.com/watch?v=jgn-D271qWA&list=PLVApX3evDwJ1d0lKKHssPQvzv2Ao3e__Q&index=23
			                   Em ...'th:action="@{/logout}"', não existe o endpoint "/login".
			                   Na verdade, spring security framework intercepta oa ação e a trata.
			                   É necessário configurar ...
			                    			'.formLogin().loginPage("/logout")'
			                   em "SecurityAccessConfigurarion"  			
                 -->
								<form sec:authorize="isAuthenticated()" id="form-logout"class="form-inline" form-method="post" th:action="@{/logout}">
									<button class="btn btn-link" type="submit"><i class="fas fa-sign-in-alt"></i> Sair</button> 
								</form>
		                    </li>		                    
		                </ul>
		        </div>
		    </nav>	
		<div class="containe-fluid">
			<nav aria-label="breadcrumb">
			  <!-- 
			  <ol id="ol-breadcrumb" class="breadcrumb py-0 mb-0 re-breadcrumb">
			  </ol>
			  -->
			
			  <ol id="ol-breadcrumb" class="breadcrumb py-0 mb-0 re-breadcrumb">
			  	<li th:if="${@breadCrumbSession.getCatalogName().length() > 0}" class="breadcrumb-item"><a th:text="${@breadCrumbSession.getCatalogName()}" href="#"></a></li>
			  	<li th:if="${@breadCrumbSession.getProjectName().length() > 0}" class="breadcrumb-item"><a th:text="${@breadCrumbSession.getProjectName()}" href="#"></a></li>
			  </ol>
			   
			</nav>
		</div>
		 <hr class="my-0" >	
	</body>
</html>