<html>
	<body>
		<div th:fragment="reModalLogin">

    <!--Modal-->
    <!--data-keyboard="false" previne sair do modal com escape-->
    <!--data-backdrop="static" previne sair do modal com escape-->
		    <div class="modal fade" data-keyboard="false" data-backdrop="static" id="re-modal-login" tabindex="-1" role="dialog">
		        <div class="modal-dialog modal-sm modal-dialog-centered">            
		            <div class="modal-content">
		                <div class="modal-body">
		                   <!-- 
		                   ref.: https://www.youtube.com/watch?v=Z6ZG6BIgW-Q&list=PLVApX3evDwJ1d0lKKHssPQvzv2Ao3e__Q&index=22
		                   Em ...'th:action="@{/login}"', não existe o endpoint "/login".
		                   Na verdade, spring security framework intercepta oa ação e a trata.
		                   É necessário configurar ...
		                    			'.formLogin().loginPage("/login").permitAll()'
		                   em "SecurityAccessConfigurarion"  			
		                    -->
		                    <div th:if="${param.error}" class="alert alert-danger">
		                    	Invalid username or password.
		                    </div>
		                
		                    <form name="f" th:action="@{/login}" method="post">
		                        <button class="close" data-dismiss="modal">&times;</button>
		                        <h4 class="modal-title text-center bg-light font-weight-light" style="color:#007bff">Login</h4> 
		                    </br>
		                        <div class="form-group">
		                            <label for="userName">Nome</label>
		                            <input class="form-control form-control-sm" placeholder="Nome" type="text" id="loginUserName" name="username"/></input>
		                        </div>
		                        <div class="form-group">
		                            <label for="password">Senha</label>
		                            <input class="form-control form-control-sm" placeholder="Senha" type="text" id="loginPassword" name="password"></input>
		                        </div>  
		                        <div class="bg-light form-actions">
		                            <button type="submit" class="btn btn-link font-weight-light ">Enviar</button>
		                            <button class="btn btn-link font-weight-light float-right" data-dismiss="modal">Fechar</button>
		                        </div>                     
		                    </form>
		                </div>
		            </div>
		        </div>
		    </div>		
		</div>
	</body>
</html>