<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta UTF-8 não funcional se dentro do fragment -->
	<meta charset="UTF-8">
	<div th:replace="fragments/header :: header"></div>
	<title>Catalog</title>
</head>
<body>
	<div th:insert="fragments/header :: topMenu"></div>

    <div id="accordionSubMenuCatalog">
        <div class="container-fluid accordion">

            <a th:if = "${msg != null }" class="nav-link text-center font-weight-light display-4" href="#toggleCreateCatalog" data-toggle="collapse"  data-target="#toggleCreateCatalog" aria-expanded="true"> Criarr Catálogo</a>
            <!-- 
            <a th:if = "${msg == null }" class="nav-link" href="#toggleCreateCatalog" data-toggle="collapse" data-target="#toggleCreateCatalog" aria-expanded="true" >Criar Catálogo <i class="fas fa-angle-right"></i></a>
		-->
            <a th:if = "${msg == null }" class="nav-link" href="#toggleCreateCatalog" data-toggle="collapse" data-target="#toggleCreateCatalog" aria-expanded="true" >Criar Catálogo</a>

            <div id="toggleCreateCatalog" class="collapse" th:classappend="${msg != null } ? show : '' " data-parent="#accordionSubMenuCatalog">
		         <div th:if = "${msg == 'success' }" class="alert alert-success alert-dismissible mb-15  message-genSymbolTableForm re-message" style="width: 400px; margin: auto">
		         	<button type="button" class="close fade show" data-dismiss="alert">&times;</button>
		             	<p class=" mb-0 ">Catálogo Criado Com Sucesso</p>
		         </div>
		         
		         <div th:if = "${msg == 'error' }" class="alert alert-danger alert-dismissible mb-15  message-genSymbolTableForm re-message" style="width: 400px; margin: auto">
		         	<button type="button" class="close fade show" data-dismiss="alert">&times;</button>
		             	<p class=" mb-0 ">Falha Na Criação Do Catálogo</p>
		         </div>
		         
	             <form id="formCreateCatalog" class="needs-validation" novalidate action="/recatalog/createCatalog" method="post" enctype="application/x-www-form-urlencoded" style="width: 400px; margin: auto" >
	                 <p class="small text-center">Novo Catálogo</p>
	                 <div class="form-group">
	                     <label for="catalogName">Nome do Catálogo</label>
	                     <input type="text" name="catalogName" class="form-control form-control-sm inputForm pathParam"
	                     		 autocomplete="off" required pattern="[A-Za-z][\w]*">
	                     <div class="invalid-feedback">Informe o nome do catálogo</div>	                     		 
	                 </div>
	                 <div class="form-group">
	                         <label for="description">Descrição</label>
	                         <input class="form-control form-control-sm inputForm  pathParam " type="text" name="description" autocomplete="off">
	                 </div>
	                 <div class="form-group">
		                 <input id="submit-btn" class="form-control form-control-sm btn-primary " type="submit" value="Criar"  />
	                 </div>
	             </form>
            </div>
        <!-- /div-->

        <hr class="my-0" >

        <!-- div class="container " id="listAllCatalog"-->
            <a  class="nav-link" href="#toggleListAllCatalog" data-toggle="collapse" aria-expanded="false" data-target="#toggleListAllCatalog">Listar Catálogos</a>
            <div id="toggleListAllCatalog" class="collapse" data-parent="#accordionSubMenuCatalog">            
                <table class="table table-hover table-sm">
                    <thead id="headerListAllCatalog">
                    <tr>
                        <th class="pb-0">Name</th>
                        <th class="pb-0">Type</th>
                        <th class="pb-0">Description</th>
                        <th class="pb-0">Data De Criação</th>
                    </tr>
                    </thead>
                    <tbody id="bodyListAllCatalog">
                    <tr class="clickable">
                        <td class="pb-0"><i class="fas fa-book" aria-hidden="true">&nbsp;</i>CAMBIO</td>
                        <td class="pb-0">Catalog</td>
                        <td class="pb-0">Catálogo de Câmbio</td>
                        <td class="pb-0">2019-08-15 08:30:17:904</td>
                    </tr>
                    <tr class="clickable">
                        <td class="pb-0"><i class="fas fa-book" aria-hidden="true">&nbsp;</i>SEGUROS</td>
                        <td class="pb-0">Catalog</td>
                        <td class="pb-0">Catálogo de Seguros</td>
                        <td class="pb-0">2019-08-16 08:30:17:904</td>
                    </tr>   
                    <tr class="clickable">
                            <td class="pb-0"><i class="fas fa-book" aria-hidden="true">&nbsp;</i>FINANCEIRO</td>
                            <td class="pb-0">Catalog</td>
                            <td class="pb-0">Catálogo do Financeiro</td>
                            <td class="pb-0">2019-08-16 08:30:17:904</td>
                    </tr> 
                    <tr class="clickable">
                            <td class="pb-0"><i class="fas fa-book" aria-hidden="true">&nbsp;</i>ADMINISTRATIVO</td>
                            <td class="pb-0">Catalog</td>
                            <td class="pb-0">Catálogo do Administrativo</td>
                            <td class="pb-0">2019-08-16 08:30:17:904</td>
                    </tr>                    
                    </tbody>
                </table>
            </div>
        </div>
    </div>    

<div th:insert="fragments/modals :: reModalLogin"></div>

<div th:insert="fragments/footer :: footerScript"></div>

<script>
	var form = document.querySelector('.needs-validation');
	
	form.addEventListener('submit', function(event){
	    if(form.checkValidity() === false) {
	        event.preventDefault();
	        event.stopPropagation();
	    }
	    form.classList.add('was-validated');
	    
	console.log(form.checkValidity());
	$("#submit-btn").attr("disabled", !form.checkValidity());
	});
	
	form.querySelectorAll('.form-control').forEach(input => {
	    input.addEventListener(('input'), () => {
	        $("#submit-btn").attr("disabled", !form.checkValidity());
	    });
	});
</script>

</body>
</html>