<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta UTF-8 não funcional se dentro do fragment -->
	<meta charset="UTF-8">
	<div th:replace="fragments/header :: header"></div>
	<title>Project</title>
</head>
<body>
	<div th:insert="fragments/header :: topMenu"></div>

    <div id="accordionSubMenuProject">
        <div class="container-fluid accordion">
            <a th:if = "${msg != null }" class="nav-link text-center font-weight-light display-4" href="#toggleCreateProject" data-toggle="collapse"  data-target="#toggleCreateProject" aria-expanded="true"> Criar Projeto</a>
            <a th:if = "${msg == null }" class="nav-link" href="#toggleCreateProject" data-toggle="collapse" data-target="#toggleCreateProject" aria-expanded="false" > Criar Projeto</a>

            <div id="toggleCreateProject" class="collapse" th:classappend="${msg != null } ? show : '' " data-parent="#accordionSubMenuProject">
		         <div th:if = "${msg == 'success' }" class="alert alert-success alert-dismissible mb-15  message-genSymbolTableForm re-message" style="width: 400px; margin: auto">
		         	<button type="button" class="close fade show" data-dismiss="alert">&times;</button>
		         	
		         	<!-- lê spring bean @breadCrumbSession.getCatalogName() -->
		            <p class=" mb-0 " >Projeto <span th:text="${@breadCrumbSession.getProjectName()}"></span> Criado Com Sucesso</p>
		         </div>
		         
		         <div th:if = "${msg == 'error' }" class="alert alert-danger alert-dismissible mb-15  message-genSymbolTableForm re-message" style="width: 400px; margin: auto">
		         	<button type="button" class="close fade show" data-dismiss="alert">&times;</button>
		             	<p class=" mb-0 " th:text="${error.getMessage()}">Falha Na Criação Do Projeto</p>
		         </div>
		         
	             <form id="formCreateProject" class="needs-validation" novalidate action="/recatalog/projects" method="post" enctype="application/x-www-form-urlencoded" style="width: 400px; margin: auto" >
	                 <p class="small text-center">Novo Projeto</p>
	                 <div class="form-group">
	                     <label for="catalogName">Nome do Cátalogo</label>
	                     <input type="text" name="catalogName" class="form-control form-control-sm inputForm pathParam"
	                     		 autocomplete="off" required pattern="[A-Za-z][\w]*">
	                     <div class="invalid-feedback">Informe o nome do catálogo</div>	                     		 
	                 </div>	                 
	                 <div class="form-group">
	                     <label for="projectName">Nome do Projeto</label>
	                     <input type="text" name="projectName" class="form-control form-control-sm inputForm pathParam"
	                     		 autocomplete="off" required pattern="[A-Za-z][\w]*">
	                     <div class="invalid-feedback">Informe o nome do Projeto</div>	                     		 
	                 </div>
	                 <div class="form-group">
	                         <label for="description">Descrição</label>
	                         <input type="text" name="description" class="form-control form-control-sm inputForm  pathParam " 
	                         		  autocomplete="off" required>
	  	                     <div class="invalid-feedback">Informe a Descrição do Projeto</div>	                     		 
	                 </div>
	                 <div class="form-group">
		                 <input id="submit-btn" class="form-control form-control-sm btn-primary " type="submit" value="Criar"  />
	                 </div>
	             </form>
            </div>
        <hr class="my-0" >

            <!-- a  class="nav-link" href="#toggleListAllCatalog" data-toggle="collapse" aria-expanded="false" data-target="#toggleListAllCatalog">Listar Catálogos</a-->
            <a th:if = "${projects != null }" class="nav-link text-center font-weight-light display-4" href="#toggleListAllProject" data-toggle="collapse"  data-target="#toggleListAllProject" aria-expanded="true">Listar Projetos</a>
            <a th:if = "${projects == null }" class="nav-link" href="/recatalog/projects"> Listar Projetos</a>

            <div id= "toggleListAllProject" class="collapse" th:classappend="${projects != null } ? show : '' " data-parent="#accordionSubMenuProject" style="width: 600px; margin: auto">            
				<p class="small text-center">Lista de Projetos</p>
				
				<div th:if="${not #lists.isEmpty(projects)}">
					<table class="table table-condensed table-hover table-sm"> 
						<thead id="headerListAllProject">
		                    <tr>
		                        <th class="pb-0">Catálogo</th>
		                        <th class="pb-0">Projeto</th>
		                        <th class="pb-0">Descrição</th> 
		                        <th class="pb-0">Data da Criação</th>
		                    </tr>
		                </thead>
		                <tbody id="bodyListAllProject">
		                    <tr th:each="project : ${projects}">
		                        <td class="pb-0" th:text="${project.getParent().getName()}"></td>
		                        <td class="pb-0 clickable re-to-breadcrumb-project" th:text="${project.name}"></td>
		                        <td class="pb-0" th:text="${project.description}"></td>
		                        <td class="pb-0" th:text="${project.createdOn}"></td>
		                    </tr>
		                </tbody>                
					</table>
				</div>
					
				<div th:if="${ #lists.isEmpty(projects)}">
					<h2> Não há Projetos criados</h2>
				</div>
		</div>
	<!------------------------------------------------------------------------------------------>  
        <hr class="my-0">

            <!-- a  class="nav-link" href="#toggleGenSymbolTable" data-toggle="collapse" aria-expanded="false" data-target="#toggleGenSymbolTable">Gerar Tabela de Símbolos</a-->
            <a th:if = "${versions != null }" class="nav-link text-center font-weight-light display-4" href="#toggleVersionProject" data-toggle="collapse"  data-target="#toggleVersionProject" aria-expanded="true">Nova Versão</a>
            <a th:if = "${versions == null }" class="nav-link" href="#toggleVersionProject" data-toggle="collapse" data-target="#toggleVersionProject" aria-expanded="false" >Nova Versão</a>

            <div id="toggleVersionProject" class="collapse toggleSubMenu" th:classappend="${versions != null } ? show : '' " data-parent="#accordionSubMenuProject" style="width: 600px; margin: auto">            
				<p class="small text-center">Nova Versão</p>
	            <form id="formVersionProject" class="needs-validation" novalidate action="/recatalog/versions" method="post" enctype="multipart/form-data" style="width: 400px; margin: auto" >
                     <div class="form-group">
                       	<div class="custom-file">
                       	<!-- changing BROWSER button: https://stackoverflow.com/questions/43250263/bootstrap-4-file-input -->
	                        <label class="custom-file-label" for="fileUpload">Escolha os Arquivos</label>
	                        <input type="file" name="files" class="custom-file-input form-control form-control-sm input-files cursor-pointer" multiple id="fileUpload">
						</div>
                    </div>
                    <div class="form-group">
                    	<div class="custom-file">
	                        <label class="custom-file-label" for="dirUpload">Escolha o Diretório</label >
	                        <!-- webkitdirectory api  is non-standard and should not be used without careful consideration. -->
	                        <input type="file" name="files" class="custom-file-input form-control form-control-sm input-files cursor-pointer" webkitdirectory directory id="dirUpload">
 						</div>
                    </div>
                    <div class="form-group d-none" id="ra-wrap-symbols">
                        <div class="form-group">
                            <!--IMPORTANTE USE selectpicker plugin v1.13.9 , funciona com boostrap 4-->
                            <select id="ra-symbols-options" class="selectpicker pathParam" data-live-search="true" name="symbol-list"
                            data-width="100%" >
                                <!--
                                <option value=" ">Escolha um símbolo...</option>
                                <option value="FINANCEIRO">FINANCEIRO</option>
                                -->
                            </select>
                        </div>
                    </div>                
                    <div class="form-group" id="ra-wrap-msgDiv-component">
                    </div>
                    <div class="ra-wrap-submit">        
                        <div class="form-group">
                            <input class="form-control form-control-sm btn-primary btn-submit cursor-pointer"  type="submit" value="Enviar" /> 
                        </div>
                        <div class="form-group progress mt-2 d-none">
                            <div class="progress-bar bg-sucess progress-bar-striped progress-bar-animated "
                            style="width: 100%">Executando...</div>
                        </div>
                	</div>
                </form>
            </div>
	<!------------------------------------------------------------------------------------------>        
        </div>
    </div>    

<div th:insert="fragments/modals :: reModalLogin"></div>

<div th:insert="fragments/footer :: footerScript"></div>

<script>
	var form = document.querySelector('.needs-validation');
	
	form.addEventListener('submit', function(event){
	    if(form.checkValidity() === false) {
	        event.preventDefault();
	        event.stopPropagation();
	    }
	    form.classList.add('was-validated');
	    
	console.log(form.checkValidity());
	$("#submit-btn").attr("disabled", !form.checkValidity());
	});
	
	form.querySelectorAll('.form-control').forEach(input => {
	    input.addEventListener(('input'), () => {
	        $("#submit-btn").attr("disabled", !form.checkValidity());
	    });
	});
</script>

<script>
	$(".re-to-breadcrumb-project").on('click', function () {
		var toCatalogHtml = $(this).html(); 
//		console.log(toCatalogHtml);
//		console.log($(".re-breadcrumb-catalog").html());
		$(".re-breadcrumb-catalog").html(toCatalogHtml);

		console.log($(".re-breadcrumb-catalog").html());
		$(".re-breadcrumb-catalog").parent().next().remove(); //.nextAll().remove(); 
	});
</script>
<script>  
//Não funciona a mesma funções no javascript handlers.js
$('#toggleCreateProject').on('show.bs.collapse', function () {
 	$(this).prev("a").addClass("text-center font-weight-light display-4");
 	console.log(this);
});

$('#toggleCreateProject').on('hide.bs.collapse', function () {
	$(this).prev("a").removeClass("text-center font-weight-light display-4");  
	$(".alert").remove();
});

$('.toggleSubMenu').on('hide.bs.collapse', function () {
	$(this).prev("a").removeClass("text-center font-weight-light display-4");  
	$(".alert").remove();
});

$('.toggleSubMenu').on('show.bs.collapse', function () {
 	$(this).prev("a").addClass("text-center font-weight-light display-4");
 	console.log(this);
});
</script>
</body>
</html>